

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: auto;
}


.header__logo{
    position: relative;
    top: 34px;
    width: 100%;
    max-width: 254px;

}



@media (max-width: 1024px) {
    /* para Tablet*/
 

    .header{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 768px;
    }
    
    
    .header__logo{
        position: relative;
        top: 30px;
        width: 100%;
        max-width: 254px;
    
    }




}

@media (max-width: 544px) {
    /* para Tablet*/
 
    .header{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 768px;
    }
    
    
    .header__logo{
        position: relative;
        top: 30px;
        width: 100%;
        max-width: 188px;
    
    }







}

